.glitch {
    color: #33bed496;
    position: relative;
    font-size: 90px;
    // margin: 70px 200px;
    animation: glitch 5s 5s infinite;
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 #17a2b8;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 #17a2b8;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1%{
      transform: rotateX(10deg) skewX(90deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  
  @keyframes noise-1 {
    $steps: 30;
    @for $i from 1 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  @keyframes noise-2 {
    $steps: 30;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }


  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(4, 5, 59);

    outline: 0;
    font-size: 1.3rem;
    color: rgb(7, 53, 53);
    padding: 7px 0;
    background: transparent;
    transition: font-weight 0.1s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.3s;
      font-size: 1rem;
      color: rgb(3, 3, 3);
      font-weight:500;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 2px;
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
  }
  